<div class="cart">
    <p>Shipping</p>
    <div id="checkoutDIv">
     <div class="block">
        <form id="form_div" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group form_val">
              <label for="exampleInputEmail1"> <span style="color: red;">*</span> Name</label>
              <input type="email" class="form-control"  formControlName="name" >
              <small style="color: red;" *ngIf="profileForm.controls.name.errors && isSubmit">Required field</small><br>
              <label for="exampleInputEmail1"><span style="color: red;">*</span>Address Line</label>
              <input type="email" class="form-control"  formControlName="address">
              <small style="color: red;" *ngIf="profileForm.controls.address.errors && isSubmit">Required field</small><br>
              <label for="exampleInputEmail1"><span style="color: red;">*</span>City</label>
              <input type="email" class="form-control"  formControlName="city">
              <small style="color: red;" *ngIf="profileForm.controls.city.errors && isSubmit">Required field</small><br>
              <label for="exampleInputEmail1"><span style="color: red;">*</span>Postal Code</label>
              <input type="email" class="form-control" formControlName="code"(ngModelChange)="getPostalCode()">
              <small style="color: red;" *ngIf="profileForm.controls.code.errors && isSubmit">Required field</small><br>
              <button style="background-color: teal;background-color: teal;
              margin: 5px;
              width: 96px;
              height: 42px;
              border-radius: 5px;"(click)="onSubmit()">Place Order</button>
            </div>
         </form>
     </div>
     <div class="block blockAll">
         <div id="block_title">Order Summary</div>
         <h2 id="block_itemtotal">You have {{cartList.length}} items in your cart</h2>
         <div class="block_items" *ngFor="let item of cartList"><div class="block_01">{{item.qty}} x {{item.name}}</div><div class="block_01"><span>$</span>{{item.cartprice}}</div></div>
    </div>
</div>
