<div id="mainDiv">
    <p style="margin: 20px;
    font-size: 40px;
    letter-spacing: 2px;">Manage Order</p>
    <div id="orderDiv">
     <div>
        <ul class="list-group">
            <li class="list-group-item active listflex">
                <div>Customer</div>
                <div>Date</div>
                <div>Action</div>
            </li>
             <li class="list-group-item listflex">
                 <div>John Smith</div>
                 <div>Aug 29, 2017</div>
                 <div>View</div>
             </li>
             <li class="list-group-item listflex">
                <div>John Smith</div>
                <div>Aug 29, 2017</div>
                <div>View</div>
            </li>
            <li class="list-group-item listflex">
                <div>John Smith</div>
                <div>Aug 29, 2017</div>
                <div>View</div>
            </li>
          </ul>
     </div>
    </div>
</div>

